<%= form_with(model: [:admin, page], local: true) do |form| %>
  <%= render 'shared/form_errors', errors: page.errors %>

  <div class="form-group">
    <%= form.label :images %>
    <div><%= thumbnails page.images %></div>
    <%= form.file_field :images, class: 'form-control-file', multiple: true %>
    <div class="form-check">
      <label class="form-check-label">
        <%= form.check_box :_destroy_images, class: 'form-check-input' %>登録されている画像を削除
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.select :category, Page.categories.keys.to_a, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :reference_url %>
    <%= form.text_field :reference_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :subject %>
    <%= form.text_field :subject, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :priority %>
    <%= form.number_field :priority, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :enabled %>
    <%= form.check_box :enabled, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
