<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= t('text.edit') %> <%= Page.model_name.human %>
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <%= render 'form', page: @page %>
          </div>
          <div class="card-footer clearfix">
            <%= link_to(t('text.show'), [:admin, @page], class: 'card-link') if policy(@page).show? %>
            <%= link_to(t('text.back'), admin_pages_path, class: 'card-link') if policy(Page).index? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
