<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= Page.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-pencil"></i> <%= page_entries_info @pages %>
            <div class="card-tools d-flex">
              <%= link_to(t('text.new'), new_admin_page_path, class: 'mr-3 mt-1') if policy(Page).create? %>
              <%= paginate @pages %>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body p-0 table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><%= Page.human_attribute_name(:images) %></th>
                  <th><%= Page.human_attribute_name(:category) %></th>
                  <th><%= Page.human_attribute_name(:reference_url) %></th>
                  <th><%= Page.human_attribute_name(:subject) %></th>
                  <th><%= Page.human_attribute_name(:content) %></th>
                  <th><%= Page.human_attribute_name(:priority) %></th>
                  <th><%= Page.human_attribute_name(:enabled) %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @pages.each do |page| %>
                  <tr>
                    <td><%= thumbnails page.images, { first_only: true, resize: '40x40' } %></td>
                    <td><%= page.category %></td>
                    <td><%= page.reference_url %></td>
                    <td><%= page.subject %></td>
                    <td><%= page.content %></td>
                    <td><%= page.priority %></td>
                    <td><%= page.enabled %></td>
                    <td><%= link_to(t('text.show'), [:admin, page]) if policy(page).show? %></td>
                    <td><%= link_to(t('text.edit'), edit_admin_page_path(page)) if policy(page).update? %></td>
                    <td><%= link_to(t('text.destroy'), [:admin, page], method: :delete, data: { confirm: t('text.are_you_sure') }) if policy(page).destroy? %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= paginate @pages %>
          </div>
        </div><!-- /.card -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
