<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= t('text.show') %> <%= Page.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <dl>
              <dt><%= Page.human_attribute_name(:images) %></dt>
              <dd><%= thumbnails @page.images %></dd>
            </dl>
            <dl>
              <dt><%= Page.human_attribute_name(:category) %></dt>
              <dd><%= @page.category %></dd>
            </dl>
            <dl>
              <dt><%= Page.human_attribute_name(:reference_url) %></dt>
              <dd><%= @page.reference_url %></dd>
            </dl>
            <dl>
              <dt><%= Page.human_attribute_name(:subject) %></dt>
              <dd><%= @page.subject %></dd>
            </dl>
            <dl>
              <dt><%= Page.human_attribute_name(:content) %></dt>
              <dd><%= @page.content %></dd>
            </dl>
            <dl>
              <dt><%= Page.human_attribute_name(:priority) %></dt>
              <dd><%= @page.priority %></dd>
            </dl>
            <dl>
              <dt><%= Page.human_attribute_name(:enabled) %></dt>
              <dd><%= @page.enabled %></dd>
            </dl>
          </div>
          <div class="card-footer clearfix">
            <%= link_to(t('text.edit'), edit_admin_page_path(@page), class: 'card-link') if policy(@page).update? %>
            <%= link_to(t('text.back'), admin_pages_path, class: 'card-link') if policy(Page).index? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
