<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= Position.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-pencil"></i> <%= page_entries_info @positions %>
            <div class="card-tools d-flex">
              <%= link_to(t('text.new'), new_admin_position_path, class: 'mr-3 mt-1') if policy(Position).create? %>
              <%= paginate @positions %>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body p-0 table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><%= Position.human_attribute_name(:name) %></th>
                  <th><%= Position.human_attribute_name(:code) %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @positions.each do |position| %>
                  <tr>
                    <td><%= position.name %></td>
                    <td><%= position.code %></td>
                    <td><%= link_to(t('text.show'), [:admin, position]) if policy(position).show? %></td>
                    <td><%= link_to(t('text.edit'), edit_admin_position_path(position)) if policy(position).update? %></td>
                    <td><%= link_to(t('text.destroy'), [:admin, position], method: :delete, data: { confirm: t('text.are_you_sure') }) if policy(position).destroy? %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= paginate @positions %>
          </div>
        </div><!-- /.card -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
