<%= form_with(model: [:admin, store_blog], local: true) do |form| %>
  <%= render 'shared/form_errors', errors: store_blog.errors %>

  <div class="form-group">
    <%= form.label :image %>
    <div><%= thumbnail store_blog.image %></div>
    <%= form.file_field :image, class: 'form-control-file' %>
  </div>

  <div class="form-group">
    <%= form.label :store_id %>
    <%= form.collection_select :store_id, Store.all, :id, :name, { include_blank: true }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :subject %>
    <%= form.text_field :subject, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :priority %>
    <%= form.number_field :priority, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
