<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= StoreBlog.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-pencil"></i> <%= page_entries_info @store_blogs %>
            <div class="card-tools d-flex">
              <%= link_to(t('text.new'), new_admin_store_blog_path, class: 'mr-3 mt-1') if policy(StoreBlog).create? %>
              <%= paginate @store_blogs %>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body p-0 table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><%= StoreBlog.human_attribute_name(:image) %></th>
                  <th><%= StoreBlog.human_attribute_name(:store_id) %></th>
                  <th><%= StoreBlog.human_attribute_name(:name) %></th>
                  <th><%= StoreBlog.human_attribute_name(:subject) %></th>
                  <th><%= StoreBlog.human_attribute_name(:content) %></th>
                  <th><%= sort_link(@q, :priority) %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @store_blogs.each do |store_blog| %>
                  <tr>
                    <td><%= thumbnail store_blog.image %></td>
                    <td><%= store_blog.store&.name %></td>
                    <td><%= store_blog.name %></td>
                    <td><%= store_blog.subject %></td>
                    <td><%= truncate store_blog.content, length: 100 %></td>
                    <td><%= store_blog.priority %></td>
                    <td><%= link_to(t('text.show'), [:admin, store_blog]) if policy(store_blog).show? %></td>
                    <td><%= link_to(t('text.edit'), edit_admin_store_blog_path(store_blog)) if policy(store_blog).update? %></td>
                    <td><%= link_to(t('text.destroy'), [:admin, store_blog], method: :delete, data: { confirm: t('text.are_you_sure') }) if policy(store_blog).destroy? %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= paginate @store_blogs %>
          </div>
        </div><!-- /.card -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
