<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= t('text.show') %> <%= StoreBlog.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <dl>
              <dt><%= StoreBlog.human_attribute_name(:image) %></dt>
              <dd><%= thumbnail @store_blog.image %></dd>
            </dl>
            <dl>
              <dt><%= StoreBlog.human_attribute_name(:store_id) %></dt>
              <dd><%= @store_blog.store&.name %></dd>
            </dl>
            <dl>
              <dt><%= StoreBlog.human_attribute_name(:name) %></dt>
              <dd><%= @store_blog.name %></dd>
            </dl>
            <dl>
              <dt><%= StoreBlog.human_attribute_name(:subject) %></dt>
              <dd><%= @store_blog.subject %></dd>
            </dl>
            <dl>
              <dt><%= StoreBlog.human_attribute_name(:content) %></dt>
              <dd><%= @store_blog.content %></dd>
            </dl>
            <dl>
              <dt><%= StoreBlog.human_attribute_name(:priority) %></dt>
              <dd><%= @store_blog.priority %></dd>
            </dl>
          </div>
          <div class="card-footer clearfix">
            <%= link_to(t('text.edit'), edit_admin_store_blog_path(@store_blog), class: 'card-link') if policy(@store_blog).update? %>
            <%= link_to(t('text.back'), admin_store_blogs_path, class: 'card-link') if policy(StoreBlog).index? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
