<%= form_with(model: [:admin, variation], local: true) do |form| %>
  <%= render 'shared/form_errors', errors: variation.errors %>

  <div class="form-group">
    <%= form.label :image %>
    <div><%= thumbnail variation.image %></div>
    <%= form.file_field :image, class: 'form-control-file' %>
  </div>

  <div class="form-group">
    <%= form.label :product_id %>
    <%= form.collection_select :product_id, Product.all, :id, :name, { include_blank: true }, class: 'form-control select2' %>
  </div>

  <div class="form-group">
    <%= form.label :color_id %>
    <%= form.collection_select :color_id, Color.all, :id, :name, { include_blank: true }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :size_id %>
    <%= form.collection_select :size_id, Size.all, :id, :name, { include_blank: true }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :stock %>
    <%= form.number_field :stock, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
