<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= t('text.edit') %> <%= Variation.model_name.human %>
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <%= render 'form', variation: @variation %>
          </div>
          <div class="card-footer clearfix">
            <%= link_to(t('text.show'), [:admin, @variation], class: 'card-link') if policy(@variation).show? %>
            <%= link_to(t('text.back'), admin_variations_path, class: 'card-link') if policy(Variation).index? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
