<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= Variation.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <%= fa_icon :search %> <%= t('text.search') %>
          </div>
          <div class="card-body">
            <%= search_form_for([:admin, @q]) do |form| %>
              <div class="form-group row">
                <div class="col-12 col-md-6">
                  <%= form.collection_select :product_id_eq, Product.all, :id, :name, { include_blank: Variation.human_attribute_name(:product_id) }, class: 'form-control select2' %>
                </div>
                <div class="col-6 col-md-3">
                  <%= form.collection_select :color_id_eq, Color.all, :id, :name, { include_blank: Variation.human_attribute_name(:color_id) }, class: 'form-control' %>
                </div>
                <div class="col-6 col-md-3">
                  <%= form.collection_select :size_id_eq, Size.all, :id, :name, { include_blank: Variation.human_attribute_name(:size_id) }, class: 'form-control' %>
                </div>
              </div>
              <%= form.submit class: 'btn btn-primary mr-2' %>
              <%= link_to t('text.clear'), admin_variations_path, class: 'btn btn-light' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-pencil"></i> <%= page_entries_info @variations %>
            <div class="card-tools d-flex">
              <%= link_to(t('text.new'), new_admin_variation_path, class: 'mr-3 mt-1') if policy(Variation).create? %>
              <%= paginate @variations %>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body p-0 table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><%= Variation.human_attribute_name(:image) %></th>
                  <th><%= Variation.human_attribute_name(:product_id) %></th>
                  <th><%= Variation.human_attribute_name(:color_id) %></th>
                  <th><%= Variation.human_attribute_name(:size_id) %></th>
                  <th><%= sort_link(@q, :stock) %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @variations.each do |variation| %>
                  <tr>
                    <td><%= thumbnail variation.image %></td>
                    <td><%= variation.product&.name %></td>
                    <td><%= variation.color&.name %></td>
                    <td><%= variation.size&.name %></td>
                    <td><%= variation.stock %></td>
                    <td><%= link_to(t('text.show'), [:admin, variation]) if policy(variation).show? %></td>
                    <td><%= link_to(t('text.edit'), edit_admin_variation_path(variation)) if policy(variation).update? %></td>
                    <td><%= link_to(t('text.destroy'), [:admin, variation], method: :delete, data: { confirm: t('text.are_you_sure') }) if policy(variation).destroy? %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= paginate @variations %>
          </div>
        </div><!-- /.card -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
