<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= t('text.show') %> <%= Variation.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <dl>
              <dt><%= Variation.human_attribute_name(:image) %></dt>
              <dd><%= thumbnail @variation.image %></dd>
            </dl>
            <dl>
              <dt><%= Variation.human_attribute_name(:product_id) %></dt>
              <dd><%= @variation.product&.name %></dd>
            </dl>
            <dl>
              <dt><%= Variation.human_attribute_name(:color_id) %></dt>
              <dd><%= @variation.color&.name %></dd>
            </dl>
            <dl>
              <dt><%= Variation.human_attribute_name(:size_id) %></dt>
              <dd><%= @variation.size&.name %></dd>
            </dl>
            <dl>
              <dt><%= Variation.human_attribute_name(:stock) %></dt>
              <dd><%= @variation.stock %></dd>
            </dl>
          </div>
          <div class="card-footer clearfix">
            <%= link_to(t('text.edit'), edit_admin_variation_path(@variation), class: 'card-link') if policy(@variation).update? %>
            <%= link_to(t('text.back'), admin_variations_path, class: 'card-link') if policy(Variation).index? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
