<%= form_with(model: [:admin, brand], local: true) do |form| %>
  <%= render 'shared/form_errors', errors: brand.errors %>

  <div class="form-group">
    <%= form.label :company_id %>
    <%= form.collection_select :company_id, Company.all, :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :code %>
    <%= form.text_field :code, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
