<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= t('text.new') %> <%= Company.model_name.human %>
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <%= render 'form', company: @company %>
          </div>
          <div class="card-footer clearfix">
            <%= link_to t('text.back'), admin_companies_path, class: 'card-link' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
