<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h2 class="m-0 text-dark">Resend unlock instructions</h2>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>

              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
              </div>

              <div class="actions">
                <%= f.submit 'Resend unlock instructions', class: 'btn btn-warning' %>
              </div>
            <% end %>
          </div><!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= render 'admin/auth/shared/links' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
