<%= form_with(model: [:admin, information], local: true) do |form| %>
  <%= render 'shared/form_errors', errors: information.errors %>

  <div class="form-group">
    <%= form.label :release_datetime %>
    <%= form.datetime_select :release_datetime, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :subject %>
    <%= form.text_area :subject, class: 'form-control', rows: 4 %>
    <small class="form-text text-muted"><%= t('text.can_use_html_tag') %></small>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control', rows: 20 %>
    <small class="form-text text-muted"><%= t('text.can_use_html_tag') %></small>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
