<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= Information.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-pencil"></i> <%= page_entries_info @informations %>
            <div class="card-tools d-flex">
              <%= link_to(t('text.new'), new_admin_information_path, class: 'mr-3 mt-1') if policy(Information).create? %>
              <%= paginate @informations %>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body p-0 table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><%= sort_link(@q, :release_datetime) %></th>
                  <th><%= Information.human_attribute_name(:subject) %></th>
                  <th><%= Information.human_attribute_name(:content) %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @informations.each do |information| %>
                  <tr>
                    <td><%= information.release_datetime %></td>
                    <td><%= information.subject %></td>
                    <td><%= information.content %></td>
                    <td><%= link_to(t('text.show'), [:admin, information]) if policy(information).show? %></td>
                    <td><%= link_to(t('text.edit'), edit_admin_information_path(information)) if policy(information).update? %></td>
                    <td><%= link_to(t('text.destroy'), [:admin, information], method: :delete, data: { confirm: t('text.are_you_sure') }) if policy(information).destroy? %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= paginate @informations %>
          </div>
        </div><!-- /.card -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
