<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= t('text.show') %> <%= Information.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <dl>
              <dt><%= Information.human_attribute_name(:release_datetime) %></dt>
              <dd><%= @information.release_datetime %></dd>
            </dl>
            <dl>
              <dt><%= Information.human_attribute_name(:subject) %></dt>
              <dd><%= sanitize @information.subject %></dd>
            </dl>
            <dl>
              <dt><%= Information.human_attribute_name(:content) %></dt>
              <dd><%= sanitize @information.content %></dd>
            </dl>
          </div>
          <div class="card-footer clearfix">
            <%= link_to(t('text.edit'), edit_admin_information_path(@information), class: 'card-link') if policy(@information).update? %>
            <%= link_to(t('text.back'), admin_informations_path, class: 'card-link') if policy(Information).index? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
