<%= form_with(model: [:admin, order], local: true) do |form| %>
  <%= render 'shared/form_errors', errors: order.errors %>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.select :category, Order.categories.keys, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, Order.statuses.keys, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :payment_status %>
    <%= form.select :payment_status, Order.payment_statuses.keys, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :nickname, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :last_kana %>
    <%= form.text_field :last_kana, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :first_kana %>
    <%= form.text_field :first_kana, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :prefecture_id %>
    <%= form.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address_1 %>
    <%= form.text_field :address_1, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address_2 %>
    <%= form.text_field :address_2, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address_3 %>
    <%= form.text_field :address_3, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :tel_no %>
    <%= form.text_field :tel_no, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
