<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= Order.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-pencil"></i> <%= page_entries_info @orders %>
            <div class="card-tools d-flex">
              <%= link_to(t('text.new'), new_admin_order_path, class: 'mr-3 mt-1') if policy(Order).create? %>
              <%= paginate @orders %>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body p-0 table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><%= Order.human_attribute_name(:category) %></th>
                  <th><%= Order.human_attribute_name(:status) %></th>
                  <th><%= Order.human_attribute_name(:payment_status) %></th>
                  <th><%= Order.human_attribute_name(:user_id) %></th>
                  <th><%= Order.human_attribute_name(:last_name) %></th>
                  <th><%= Order.human_attribute_name(:first_name) %></th>
                  <th><%= Order.human_attribute_name(:last_kana) %></th>
                  <th><%= Order.human_attribute_name(:first_kana) %></th>
                  <th><%= Order.human_attribute_name(:postal_code) %></th>
                  <th><%= Order.human_attribute_name(:prefecture_id) %></th>
                  <th><%= Order.human_attribute_name(:address_1) %></th>
                  <th><%= Order.human_attribute_name(:address_2) %></th>
                  <th><%= Order.human_attribute_name(:address_3) %></th>
                  <th><%= Order.human_attribute_name(:tel_no) %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @orders.each do |order| %>
                  <tr>
                    <td><%= order.category %></td>
                    <td><%= order.status %></td>
                    <td><%= order.payment_status %></td>
                    <td><%= order.user&.nickname %></td>
                    <td><%= order.last_name %></td>
                    <td><%= order.first_name %></td>
                    <td><%= order.last_kana %></td>
                    <td><%= order.first_kana %></td>
                    <td><%= order.postal_code %></td>
                    <td><%= order.prefecture&.name %></td>
                    <td><%= order.address_1 %></td>
                    <td><%= order.address_2 %></td>
                    <td><%= order.address_3 %></td>
                    <td><%= order.tel_no %></td>
                    <td><%= link_to(t('text.show'), [:admin, order]) if policy(order).show? %></td>
                    <td><%= link_to(t('text.edit'), edit_admin_order_path(order)) if policy(order).update? %></td>
                    <td><%= link_to(t('text.destroy'), [:admin, order], method: :delete, data: { confirm: t('text.are_you_sure') }) if policy(order).destroy? %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= paginate @orders %>
          </div>
        </div><!-- /.card -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
