<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= t('text.show') %> <%= Order.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <dl>
              <dt><%= Order.human_attribute_name(:category) %></dt>
              <dd><%= @order.category %></dd>
            </dl>
            <dl>
              <dt><%= Order.human_attribute_name(:status) %></dt>
              <dd><%= @order.status %></dd>
            </dl>
            <dl>
              <dt><%= Order.human_attribute_name(:payment_status) %></dt>
              <dd><%= @order.payment_status %></dd>
            </dl>
            <dl>
              <dt><%= Order.human_attribute_name(:user_id) %></dt>
              <dd><%= @order.user&.nickname %></dd>
            </dl>
            <dl>
              <dt><%= Order.human_attribute_name(:last_name) %></dt>
              <dd><%= @order.last_name %></dd>
            </dl>
            <dl>
              <dt><%= Order.human_attribute_name(:first_name) %></dt>
              <dd><%= @order.first_name %></dd>
            </dl>
            <dl>
              <dt><%= Order.human_attribute_name(:last_kana) %></dt>
              <dd><%= @order.last_kana %></dd>
            </dl>
            <dl>
              <dt><%= Order.human_attribute_name(:first_kana) %></dt>
              <dd><%= @order.first_kana %></dd>
            </dl>
            <dl>
              <dt><%= Order.human_attribute_name(:postal_code) %></dt>
              <dd><%= @order.postal_code %></dd>
            </dl>
            <dl>
              <dt><%= Order.human_attribute_name(:prefecture_id) %></dt>
              <dd><%= @order.prefecture&.name %></dd>
            </dl>
            <dl>
              <dt><%= Order.human_attribute_name(:address_1) %></dt>
              <dd><%= @order.address_1 %></dd>
            </dl>
            <dl>
              <dt><%= Order.human_attribute_name(:address_2) %></dt>
              <dd><%= @order.address_2 %></dd>
            </dl>
            <dl>
              <dt><%= Order.human_attribute_name(:address_3) %></dt>
              <dd><%= @order.address_3 %></dd>
            </dl>
            <dl>
              <dt><%= Order.human_attribute_name(:tel_no) %></dt>
              <dd><%= @order.tel_no %></dd>
            </dl>
          </div>
          <div class="card-footer clearfix">
            <%= link_to(t('text.edit'), edit_admin_order_path(@order), class: 'card-link') if policy(@order).update? %>
            <%= link_to(t('text.back'), admin_orders_path, class: 'card-link') if policy(Order).index? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
