<%= form_with(model: [:admin, store], local: true) do |form| %>
  <%= render 'shared/form_errors', errors: store.errors %>

  <div class="form-group">
    <%= form.label :image %>
    <div><%= thumbnail store.image %></div>
    <%= form.file_field :image, class: 'form-control-file' %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :code %>
    <%= form.text_field :code, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :prefecture_id %>
    <%= form.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address_1 %>
    <%= form.text_field :address_1, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address_2 %>
    <%= form.text_field :address_2, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address_3 %>
    <%= form.text_field :address_3, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :tel_no %>
    <%= form.text_field :tel_no, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :blog_url %>
    <%= form.text_field :blog_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :rss_url %>
    <%= form.text_field :rss_url, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
