<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= Store.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-pencil"></i> <%= page_entries_info @stores %>
            <div class="card-tools d-flex">
              <%= link_to(t('text.new'), new_admin_store_path, class: 'mr-3 mt-1') if policy(Store).create? %>
              <%= paginate @stores %>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body p-0 table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><%= Store.human_attribute_name(:image) %></th>
                  <th><%= Store.human_attribute_name(:name) %></th>
                  <th><%= Store.human_attribute_name(:code) %></th>
                  <th><%= Store.human_attribute_name(:postal_code) %></th>
                  <th><%= Store.human_attribute_name(:prefecture_id) %></th>
                  <th><%= Store.human_attribute_name(:address_1) %></th>
                  <th><%= Store.human_attribute_name(:address_2) %></th>
                  <th><%= Store.human_attribute_name(:address_3) %></th>
                  <th><%= Store.human_attribute_name(:tel_no) %></th>
                  <th><%= Store.human_attribute_name(:blog_url) %></th>
                  <th><%= Store.human_attribute_name(:rss_url) %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @stores.each do |store| %>
                  <tr>
                    <td><%= thumbnail store.image %></td>
                    <td><%= store.name %></td>
                    <td><%= store.code %></td>
                    <td><%= store.postal_code %></td>
                    <td><%= store.prefecture&.name %></td>
                    <td><%= store.address_1 %></td>
                    <td><%= store.address_2 %></td>
                    <td><%= store.address_3 %></td>
                    <td><%= store.tel_no %></td>
                    <td><%= store.blog_url %></td>
                    <td><%= store.rss_url %></td>
                    <td><%= link_to(t('text.show'), [:admin, store]) if policy(store).show? %></td>
                    <td><%= link_to(t('text.edit'), edit_admin_store_path(store)) if policy(store).update? %></td>
                    <td><%= link_to(t('text.destroy'), [:admin, store], method: :delete, data: { confirm: t('text.are_you_sure') }) if policy(store).destroy? %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= paginate @stores %>
          </div>
        </div><!-- /.card -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
