<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= t('text.show') %> <%= Store.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <dl>
              <dt><%= Store.human_attribute_name(:image) %></dt>
              <dd><%= thumbnail @store.image %></dd>
            </dl>
            <dl>
              <dt><%= Store.human_attribute_name(:name) %></dt>
              <dd><%= @store.name %></dd>
            </dl>
            <dl>
              <dt><%= Store.human_attribute_name(:code) %></dt>
              <dd><%= @store.code %></dd>
            </dl>
            <dl>
              <dt><%= Store.human_attribute_name(:postal_code) %></dt>
              <dd><%= @store.postal_code %></dd>
            </dl>
            <dl>
              <dt><%= Store.human_attribute_name(:prefecture_id) %></dt>
              <dd><%= @store.prefecture&.name %></dd>
            </dl>
            <dl>
              <dt><%= Store.human_attribute_name(:address_1) %></dt>
              <dd><%= @store.address_1 %></dd>
            </dl>
            <dl>
              <dt><%= Store.human_attribute_name(:address_2) %></dt>
              <dd><%= @store.address_2 %></dd>
            </dl>
            <dl>
              <dt><%= Store.human_attribute_name(:address_3) %></dt>
              <dd><%= @store.address_3 %></dd>
            </dl>
            <dl>
              <dt><%= Store.human_attribute_name(:tel_no) %></dt>
              <dd><%= @store.tel_no %></dd>
            </dl>
            <dl>
              <dt><%= Store.human_attribute_name(:blog_url) %></dt>
              <dd><%= @store.blog_url %></dd>
            </dl>
            <dl>
              <dt><%= Store.human_attribute_name(:rss_url) %></dt>
              <dd><%= @store.rss_url %></dd>
            </dl>
          </div>
          <div class="card-footer clearfix">
            <%= link_to(t('text.edit'), edit_admin_store_path(@store), class: 'card-link') if policy(@store).update? %>
            <%= link_to(t('text.back'), admin_stores_path, class: 'card-link') if policy(Store).index? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
