<%= form_with(model: [:admin, staff], local: true) do |form| %>
  <%= render 'shared/form_errors', errors: staff.errors %>

  <div class="form-group">
    <%= form.label :store_id %>
    <%= form.collection_select :store_id, Store.all, :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :division_id %>
    <%= form.collection_select :division_id, Division.all, :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :position_id %>
    <%= form.collection_select :position_id, Position.all, :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :code %>
    <%= form.text_field :code, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
