<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= Staff.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-pencil"></i> <%= page_entries_info @staffs %>
            <div class="card-tools d-flex">
              <%= link_to(t('text.new'), new_admin_staff_path, class: 'mr-3 mt-1') if policy(Staff).create? %>
              <%= paginate @staffs %>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body p-0 table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><%= Staff.human_attribute_name(:store_id) %></th>
                  <th><%= Staff.human_attribute_name(:division_id) %></th>
                  <th><%= Staff.human_attribute_name(:position_id) %></th>
                  <th><%= Staff.human_attribute_name(:name) %></th>
                  <th><%= Staff.human_attribute_name(:code) %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @staffs.each do |staff| %>
                  <tr>
                    <td><%= staff.store&.name %></td>
                    <td><%= staff.division&.name %></td>
                    <td><%= staff.position&.name %></td>
                    <td><%= staff.name %></td>
                    <td><%= staff.code %></td>
                    <td><%= link_to(t('text.show'), [:admin, staff]) if policy(staff).show? %></td>
                    <td><%= link_to(t('text.edit'), edit_admin_staff_path(staff)) if policy(staff).update? %></td>
                    <td><%= link_to(t('text.destroy'), [:admin, staff], method: :delete, data: { confirm: t('text.are_you_sure') }) if policy(staff).destroy? %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= paginate @staffs %>
          </div>
        </div><!-- /.card -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
