<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= t('text.show') %> <%= Staff.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <dl>
              <dt><%= Staff.human_attribute_name(:store_id) %></dt>
              <dd><%= @staff.store&.name %></dd>
            </dl>
            <dl>
              <dt><%= Staff.human_attribute_name(:division_id) %></dt>
              <dd><%= @staff.division&.name %></dd>
            </dl>
            <dl>
              <dt><%= Staff.human_attribute_name(:position_id) %></dt>
              <dd><%= @staff.position&.name %></dd>
            </dl>
            <dl>
              <dt><%= Staff.human_attribute_name(:name) %></dt>
              <dd><%= @staff.name %></dd>
            </dl>
            <dl>
              <dt><%= Staff.human_attribute_name(:code) %></dt>
              <dd><%= @staff.code %></dd>
            </dl>
          </div>
          <div class="card-footer clearfix">
            <%= link_to(t('text.edit'), edit_admin_staff_path(@staff), class: 'card-link') if policy(@staff).update? %>
            <%= link_to(t('text.back'), admin_staffs_path, class: 'card-link') if policy(Staff).index? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
