html {
  font-size: 1rem;
}

@include media-breakpoint-up(xs) {
  html {
    font-size: 0.5rem;
  }
  .content-header {
    padding-bottom: 3px;
  }
  .container-fluid {
    padding: 3px;
  }
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.9rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}
