<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= Contact.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-pencil"></i> <%= page_entries_info @contacts %>
            <div class="card-tools d-flex">
              <%= link_to(t('text.new'), new_admin_contact_path, class: 'mr-3 mt-1') if policy(Contact).create? %>
              <%= paginate @contacts %>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body p-0 table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><%= Contact.human_attribute_name(:created_at) %></th>
                  <th><%= Contact.human_attribute_name(:name) %></th>
                  <th><%= Contact.human_attribute_name(:email) %></th>
                  <th><%= Contact.human_attribute_name(:category) %></th>
                  <th><%= Contact.human_attribute_name(:content) %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @contacts.each do |contact| %>
                  <tr>
                    <td><%= lp contact.created_at %></td>
                    <td><%= contact.name %></td>
                    <td><%= contact.email %></td>
                    <td><%= contact.category %></td>
                    <td><%= simple_format(truncate(contact.content, length: 200)) %></td>
                    <td><%= link_to(t('text.show'), [:admin, contact]) if policy(contact).show? %></td>
                    <td><%= link_to(t('text.edit'), edit_admin_contact_path(contact)) if policy(contact).update? %></td>
                    <td><%= link_to(t('text.destroy'), [:admin, contact], method: :delete, data: { confirm: t('text.are_you_sure') }) if policy(contact).destroy? %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= paginate @contacts %>
          </div>
        </div><!-- /.card -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
