<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= t('text.show') %> <%= Contact.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <dl>
              <dt><%= Contact.human_attribute_name(:created_at) %></dt>
              <dd><%= lp @contact.created_at %></dd>
            </dl>
            <dl>
              <dt><%= Contact.human_attribute_name(:name) %></dt>
              <dd><%= @contact.name %></dd>
            </dl>
            <dl>
              <dt><%= Contact.human_attribute_name(:email) %></dt>
              <dd><%= @contact.email %></dd>
            </dl>
            <dl>
              <dt><%= Contact.human_attribute_name(:category) %></dt>
              <dd><%= @contact.category %></dd>
            </dl>
            <dl>
              <dt><%= Contact.human_attribute_name(:content) %></dt>
              <dd><%= simple_format h(@contact.content) %></dd>
            </dl>
          </div>
          <div class="card-footer clearfix">
            <%= link_to(t('text.edit'), edit_admin_contact_path(@contact), class: 'card-link') if policy(@contact).update? %>
            <%= link_to(t('text.back'), admin_contacts_path, class: 'card-link') if policy(Contact).index? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
