<%= form_with(model: [:admin, admin], local: true) do |form| %>
  <%= render 'shared/form_errors', errors: admin.errors %>

  <div class="form-group">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, autocomplete: 'off', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, autocomplete: 'off', class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
