<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= Admin.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <%= fa_icon :pencil %> <%= page_entries_info @admins %>
            <div class="card-tools d-flex">
              <%= link_to(t('text.new'), new_admin_admin_path, class: 'mr-3 mt-1') if policy(Admin).create? %>
              <%= paginate @admins %>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body p-0 table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><%= Admin.human_attribute_name(:avatar) %></th>
                  <th><%= Admin.human_attribute_name(:email) %></th>
                  <th><%= Admin.human_attribute_name(:role) %></th>
                  <th><%= Admin.human_attribute_name(:sign_in_count) %></th>
                  <th><%= Admin.human_attribute_name(:last_sign_in_at) %></th>
                  <th><%= Admin.human_attribute_name(:locked_at) %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @admins.each do |admin| %>
                  <tr>
                    <td><%= image_tag(admin.avatar.variant(resize: '30x30'), class: 'img-circle') if admin.avatar.attached? %>
                    <td><%= admin.email %></td>
                    <td><%= admin.role %></td>
                    <td><%= admin.sign_in_count %></td>
                    <td><%= lp admin.last_sign_in_at %></td>
                    <td><%= lp admin.locked_at %></td>
                    <td><%= link_to(t('text.show'), [:admin, admin]) if policy(admin).show? %></td>
                    <td><%= link_to(t('text.edit'), edit_admin_admin_path(admin)) if policy(admin).update? %></td>
                    <td><%= link_to(t('text.destroy'), [:admin, admin], method: :delete, data: { confirm: t('text.are_you_sure') }) if policy(admin).destroy? %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= paginate @admins %>
          </div>
        </div><!-- /.card -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
