<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= t('text.show') %> <%= Admin.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <dl>
              <dt><%= Admin.human_attribute_name(:avatar) %></dt>
              <dd><%= image_tag(@admin.avatar.variant(resize: '50x50'), class: 'img-circle') if @admin.avatar.attached? %></dd>
            </dl>
            <dl>
              <dt><%= Admin.human_attribute_name(:email) %></dt>
              <dd><%= @admin.email %></dd>
            </dl>
            <dl>
              <dt><%= Admin.human_attribute_name(:role) %></dt>
              <dd><%= @admin.role %></dd>
            </dl>
            <dl>
              <dt><%= Admin.human_attribute_name(:sign_in_count) %></dt>
              <dd><%= @admin.sign_in_count %></dd>
            </dl>
            <dl>
              <dt><%= Admin.human_attribute_name(:last_sign_in_at) %></dt>
              <dd><%= lp @admin.last_sign_in_at %></dd>
            </dl>
            <dl>
              <dt><%= Admin.human_attribute_name(:locked_at) %></dt>
              <dd><%= lp @admin.locked_at %></dd>
            </dl>
          </div>
          <div class="card-footer clearfix">
            <%= link_to(t('text.edit'), edit_admin_admin_path(@admin), class: 'card-link') if policy(@admin).update? %>
            <%= link_to(t('text.back'), admin_admins_path, class: 'card-link') if policy(Admin).index? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
