<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h2 class="m-0 text-dark"><%= t('text.edit') %> <%= resource.model_name.human %></h2>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%#= devise_error_messages! %>
              <%= render 'shared/form_errors', errors: resource.errors %>

              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control-plaintext', readonly: true %>
              </div>

              <div class="form-group">
                <%= f.label :avatar %><br />
                <%= f.file_field :avatar, class: 'form-control' %>
              </div>


              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="form-group">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: 'off', class: 'form-control' %>
              </div>

              <div class="actions">
                <%= f.submit class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div><!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= link_to t('text.back'), :back %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
