<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= Size.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <%= fa_icon :pencil %> <%= page_entries_info @sizes %>
            <div class="card-tools d-flex">
              <%= link_to(t('text.new'), new_admin_size_path, class: 'mr-3 mt-1') if policy(Size).create? %>
              <%= paginate @sizes %>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body p-0 table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><%= Size.human_attribute_name(:name) %></th>
                  <th><%= Size.human_attribute_name(:code) %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @sizes.each do |size| %>
                  <tr>
                    <td><%= size.name %></td>
                    <td><%= size.code %></td>
                    <td><%= link_to(t('text.show'), [:admin, size]) if policy(size).show? %></td>
                    <td><%= link_to(t('text.edit'), edit_admin_size_path(size)) if policy(size).update? %></td>
                    <td><%= link_to(t('text.destroy'), [:admin, size], method: :delete, data: { confirm: t('text.are_you_sure') }) if policy(size).destroy? %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= paginate @sizes %>
          </div>
        </div><!-- /.card -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
