<%= form_with(model: [:admin, coordinate], local: true) do |form| %>
  <%= render 'shared/form_errors', errors: coordinate.errors %>

  <div class="form-group">
    <%= form.label :staff_id %>
    <%= form.collection_select :staff_id, Staff.all, :id, :name, { include_blank: true }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :point_1 %>
    <%= form.text_area :point_1, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :point_2 %>
    <%= form.text_area :point_2, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :point_3 %>
    <%= form.text_area :point_3, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :comment %>
    <%= form.text_area :comment, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
