<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= Coordinate.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-pencil"></i> <%= page_entries_info @coordinates %>
            <div class="card-tools d-flex">
              <%= link_to(t('text.new'), new_admin_coordinate_path, class: 'mr-3 mt-1') if policy(Coordinate).create? %>
              <%= paginate @coordinates %>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body p-0 table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><%= Coordinate.human_attribute_name(:staff_id) %></th>
                  <th><%= Coordinate.human_attribute_name(:point_1) %></th>
                  <th><%= Coordinate.human_attribute_name(:point_2) %></th>
                  <th><%= Coordinate.human_attribute_name(:point_3) %></th>
                  <th><%= Coordinate.human_attribute_name(:comment) %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @coordinates.each do |coordinate| %>
                  <tr>
                    <td><%= coordinate.staff&.name %></td>
                    <td><%= coordinate.point_1 %></td>
                    <td><%= coordinate.point_2 %></td>
                    <td><%= coordinate.point_3 %></td>
                    <td><%= coordinate.comment %></td>
                    <td><%= link_to(t('text.show'), [:admin, coordinate]) if policy(coordinate).show? %></td>
                    <td><%= link_to(t('text.edit'), edit_admin_coordinate_path(coordinate)) if policy(coordinate).update? %></td>
                    <td><%= link_to(t('text.destroy'), [:admin, coordinate], method: :delete, data: { confirm: t('text.are_you_sure') }) if policy(coordinate).destroy? %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= paginate @coordinates %>
          </div>
        </div><!-- /.card -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
