<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= t('text.show') %> <%= Coordinate.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <dl>
              <dt><%= Coordinate.human_attribute_name(:staff_id) %></dt>
              <dd><%= @coordinate.staff&.name %></dd>
            </dl>
            <dl>
              <dt><%= Coordinate.human_attribute_name(:point_1) %></dt>
              <dd><%= @coordinate.point_1 %></dd>
            </dl>
            <dl>
              <dt><%= Coordinate.human_attribute_name(:point_2) %></dt>
              <dd><%= @coordinate.point_2 %></dd>
            </dl>
            <dl>
              <dt><%= Coordinate.human_attribute_name(:point_3) %></dt>
              <dd><%= @coordinate.point_3 %></dd>
            </dl>
            <dl>
              <dt><%= Coordinate.human_attribute_name(:comment) %></dt>
              <dd><%= @coordinate.comment %></dd>
            </dl>
          </div>
          <div class="card-footer clearfix">
            <%= link_to(t('text.edit'), edit_admin_coordinate_path(@coordinate), class: 'card-link') if policy(@coordinate).update? %>
            <%= link_to(t('text.back'), admin_coordinates_path, class: 'card-link') if policy(Coordinate).index? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
