<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= Color.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-pencil"></i> <%= page_entries_info @colors %>
            <div class="card-tools d-flex">
              <%= link_to(t('text.new'), new_admin_color_path, class: 'mr-3 mt-1') if policy(Color).create? %>
              <%= paginate @colors %>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body p-0 table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><%= Color.human_attribute_name(:name) %></th>
                  <th><%= Color.human_attribute_name(:code) %></th>
                  <th><%= Color.human_attribute_name(:hex_code) %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @colors.each do |color| %>
                  <tr>
                    <td><%= color.name %></td>
                    <td><%= color.code %></td>
                    <td><%= color.hex_code %></td>
                    <td><%= link_to(t('text.show'), [:admin, color]) if policy(color).show? %></td>
                    <td><%= link_to(t('text.edit'), edit_admin_color_path(color)) if policy(color).update? %></td>
                    <td><%= link_to(t('text.destroy'), [:admin, color], method: :delete, data: { confirm: t('text.are_you_sure') }) if policy(color).destroy? %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= paginate @colors %>
          </div>
        </div><!-- /.card -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
