<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= t('text.show') %> <%= Color.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <dl>
              <dt><%= Color.human_attribute_name(:name) %></dt>
              <dd><%= @color.name %></dd>
            </dl>
            <dl>
              <dt><%= Color.human_attribute_name(:code) %></dt>
              <dd><%= @color.code %></dd>
            </dl>
            <dl>
              <dt><%= Color.human_attribute_name(:hex_code) %></dt>
              <dd><%= @color.hex_code %></dd>
            </dl>
          </div>
          <div class="card-footer clearfix">
            <%= link_to(t('text.edit'), edit_admin_color_path(@color), class: 'card-link') if policy(@color).update? %>
            <%= link_to(t('text.back'), admin_colors_path, class: 'card-link') if policy(Color).index? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
