<div class="row nested-fields">
  <div class="col-10 col-md-5">
    <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: true }, class: 'form-control' %>
  </div>
  <div class="col-2 col-md-1">
    <%= link_to_remove_association f, class: 'btn btn-danger' %>
  </div>
</div>
