<%= form_with(model: [:admin, product], local: true) do |form| %>
  <%= render 'shared/form_errors', errors: product.errors %>

  <div class="form-group">
    <%= form.label :images %>
    <div><%= thumbnails product.images %></div>
    <%= form.file_field :images, class: 'form-control-file', multiple: true %>
    <div class="form-check">
      <label class="form-check-label">
        <%= form.check_box :_destroy_images, class: 'form-check-input' %>登録されている画像を削除
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :brand_id %>
    <%= form.number_field :brand_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :code %>
    <%= form.text_field :code, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :categories %>
    <%= form.fields_for :categories_products do |f| %>
      <%= render 'categories_product_fields', f: f %>
    <% end %>
    <div>
      <%= link_to_add_association form, :categories_products, class: 'btn btn-info' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :tags %>
    <%= form.fields_for :products_tags do |f| %>
      <%= render 'products_tag_fields', f: f %>
    <% end %>
    <div>
      <%= link_to_add_association form, :products_tags, class: 'btn btn-info' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :caption %>
    <%= form.text_field :caption, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :point %>
    <%= form.number_field :point, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :cost %>
    <%= form.number_field :cost, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :special_prices %>
    <%= form.fields_for :special_prices do |f| %>
      <%= render 'special_price_fields', f: f %>
    <% end %>
    <div>
      <%= link_to_add_association form, :special_prices, class: 'btn btn-info' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :priority %>
    <%= form.number_field :priority, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :begin_datetime %>
    <%= form.datetime_select :begin_datetime, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :end_datetime %>
    <%= form.datetime_select :end_datetime, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :material %>
    <%= form.text_field :material, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :country_of_origin %>
    <%= form.text_field :country_of_origin, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :favorites_count %>
    <%= form.number_field :favorites_count, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :enabled %>
    <%= form.check_box :enabled, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
