<div class="row nested-fields">
  <%= f.label :price, class: 'col-3 col-md-1' %>
  <div class="col-9 col-md-2">
    <%= f.number_field :price, class: 'form-control' %>
  </div>
  <%= f.label :point, class: 'col-3 col-md-1' %>
  <div class="col-9 col-md-2">
    <%= f.number_field :point, class: 'form-control' %>
  </div>
  <%= f.label :comment, class: 'col-3 col-md-1' %>
  <div class="col-9 col-md-5">
    <%= f.text_field :comment, class: 'form-control' %>
  </div>
  <%= f.label :begin_datetime, class: 'col-3 col-md-1' %>
  <div class="col-9 col-md-4">
    <%= f.datetime_select :begin_datetime, class: 'form-control' %>
  </div>
  <%= f.label :end_datetime, class: 'col-3 col-md-1' %>
  <div class="col-9 col-md-4">
    <%= f.datetime_select :end_datetime, class: 'form-control' %>
  </div>
  <div class="col-2">
    <%= link_to_remove_association f, class: 'btn btn-danger' %>
  </div>
</div>
