<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= Product.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <%= fa_icon :search %> <%= t('text.search') %>
          </div>
          <div class="card-body">
            <%= search_form_for([:admin, @q]) do |form| %>
              <div class="form-group row">
                <div class="col-sm-6 col-md-3">
                  <%= form.text_field :name_cont, class: 'form-control', placeholder: Product.human_attribute_name(:name) %>
                </div>
                <div class="col-sm-6 col-md-3">
                  <%= form.text_field :code_cont, class: 'form-control', placeholder: Product.human_attribute_name(:code) %>
                </div>
                <div class="col-sm-6 col-md-3">
                  <%= form.collection_select :category, Category.all, :code, :name, { include_blank: Product.human_attribute_name(:categories) }, class: 'form-control' %>
                </div>
                <div class="col-sm-6 col-md-3">
                  <%= form.collection_select :tag, Tag.all, :code, :name, { include_blank: Product.human_attribute_name(:tags) }, class: 'form-control' %>
                </div>
                <div class="col-sm-6 col-md-3">
                  <%= form.collection_select :ranking, Ranking.all, :code, :name, { include_blank: Product.human_attribute_name(:rankings) }, class: 'form-control' %>
                </div>
              </div>
              <%= form.submit class: 'btn btn-primary mr-2' %>
              <%= link_to t('text.clear'), admin_products_path, class: 'btn btn-light' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <%= fa_icon :pencil %> <%= page_entries_info @products %>
            <div class="card-tools d-flex">
              <%= link_to(t('text.new'), new_admin_product_path, class: 'mr-3 mt-1') if policy(Product).create? %>
              <%= paginate @products %>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body p-0 table-responsive">
            <table class="table" style="width: 2400px;">
              <thead>
                <tr>
                  <th><%= Product.human_attribute_name(:images) %></th>
                  <th><%= Product.human_attribute_name(:categories) %></th>
                  <th><%= Product.human_attribute_name(:tags) %></th>
                  <th><%= Product.human_attribute_name(:brand_id) %></th>
                  <th><%= Product.human_attribute_name(:name) %></th>
                  <th><%= Product.human_attribute_name(:code) %></th>
                  <th><%= Product.human_attribute_name(:caption) %></th>
                  <th><%= Product.human_attribute_name(:description) %></th>
                  <th><%= Product.human_attribute_name(:price) %></th>
                  <th><%= Product.human_attribute_name(:point) %></th>
                  <th><%= Product.human_attribute_name(:cost) %></th>
                  <th><%= sort_link(@q, :priority) %></th>
                  <th><%= sort_link(@q, :begin_datetime) %></th>
                  <th><%= sort_link(@q, :end_datetime) %></th>
                  <th><%= Product.human_attribute_name(:material) %></th>
                  <th><%= Product.human_attribute_name(:country_of_origin) %></th>
                  <th><%= Product.human_attribute_name(:favorites_count) %></th>
                  <th><%= Product.human_attribute_name(:enabled) %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @products.each do |product| %>
                  <tr>
                    <td><%= thumbnails product.images, first_only: true %></td>
                    <td><%= product.category_list %></td>
                    <td><%= product.tag_list %></td>
                    <td><%= product.brand&.name %></td>
                    <td><%= product.name %></td>
                    <td><%= product.code %></td>
                    <td><%= truncate(product.caption) %></td>
                    <td><%= truncate(product.description) %></td>
                    <td><%= product.price.to_s(:delimited) %></td>
                    <td><%= product.point.to_s(:delimited) %></td>
                    <td><%= product.cost.to_s(:delimited) %></td>
                    <td><%= product.priority %></td>
                    <td><%= lp product.begin_datetime %></td>
                    <td><%= lp product.end_datetime %></td>
                    <td><%= product.material %></td>
                    <td><%= product.country_of_origin %></td>
                    <td><%= product.favorites_count %></td>
                    <td><%= product.enabled %></td>
                    <td><%= link_to(t('text.show'), [:admin, product]) if policy(product).show? %></td>
                    <td><%= link_to(t('text.edit'), edit_admin_product_path(product)) if policy(product).update? %></td>
                    <td><%= link_to(t('text.destroy'), [:admin, product], method: :delete, data: { confirm: t('text.are_you_sure') }) if policy(product).destroy? %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= paginate @products %>
          </div>
        </div><!-- /.card -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
