<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= t('text.show') %> <%= Product.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <dl>
              <dt><%= Product.human_attribute_name(:images) %></dt>
              <dd><%= thumbnails @product.images %></dd>
            </dl>
            <dl>
              <dt><%= Product.human_attribute_name(:brand_id) %></dt>
              <dd><%= @product.brand_id %></dd>
            </dl>
            <dl>
              <dt><%= Product.human_attribute_name(:name) %></dt>
              <dd><%= @product.name %></dd>
            </dl>
            <dl>
              <dt><%= Product.human_attribute_name(:code) %></dt>
              <dd><%= @product.code %></dd>
            </dl>
            <dl>
              <dt><%= Product.human_attribute_name(:categories) %></dt>
              <dl><%= @product.category_list %></dl>
            </dl>
            <dl>
              <dt><%= Product.human_attribute_name(:tags) %></dt>
              <dl><%= @product.tag_list %></dl>
            </dl>
            <dl>
              <dt><%= Product.human_attribute_name(:caption) %></dt>
              <dd><%= @product.caption %></dd>
            </dl>
            <dl>
              <dt><%= Product.human_attribute_name(:description) %></dt>
              <dd><%= @product.description %></dd>
            </dl>
            <dl>
              <dt><%= Product.human_attribute_name(:price) %></dt>
              <dd><%= @product.price.to_s(:delimited) %></dd>
            </dl>
            <dl>
              <dt><%= Product.human_attribute_name(:point) %></dt>
              <dd><%= @product.point.to_s(:delimited) %></dd>
            </dl>
            <dl>
              <dt><%= Product.human_attribute_name(:cost) %></dt>
              <dd><%= @product.cost.to_s(:delimited) %></dd>
            </dl>
            <dl>
              <dt><%= Product.human_attribute_name(:special_prices) %></dt>
              <dl><%= @product.special_price_list %></dl>
            </dl>
            <dl>
              <dt><%= Product.human_attribute_name(:priority) %></dt>
              <dd><%= @product.priority %></dd>
            </dl>
            <dl>
              <dt><%= Product.human_attribute_name(:begin_datetime) %></dt>
              <dd><%= lp @product.begin_datetime %></dd>
            </dl>
            <dl>
              <dt><%= Product.human_attribute_name(:end_datetime) %></dt>
              <dd><%= lp @product.end_datetime %></dd>
            </dl>
            <dl>
              <dt><%= Product.human_attribute_name(:material) %></dt>
              <dd><%= @product.material %></dd>
            </dl>
            <dl>
              <dt><%= Product.human_attribute_name(:country_of_origin) %></dt>
              <dd><%= @product.country_of_origin %></dd>
            </dl>
            <dl>
              <dt><%= Product.human_attribute_name(:favorites_count) %></dt>
              <dd><%= @product.favorites_count %></dd>
            </dl>
            <dl>
              <dt><%= Product.human_attribute_name(:enabled) %></dt>
              <dd><%= @product.enabled %></dd>
            </dl>
          </div>
          <div class="card-footer clearfix">
            <%= link_to(t('text.edit'), edit_admin_product_path(@product), class: 'card-link') if policy(@product).update? %>
            <%= link_to(t('text.back'), admin_products_path, class: 'card-link') if policy(Product).index? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
