<%= form_with(model: [:admin, user], local: true) do |form| %>
  <%= render 'shared/form_errors', errors: user.errors %>

  <div class="form-group">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :birthday %>
    <%= form.date_select :birthday, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :sex %>
    <%= form.select :sex, User.sexes_i18n.invert, {}, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
