<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= User.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-pencil"></i> <%= page_entries_info @users %>
            <div class="card-tools d-flex">
              <%= link_to(t('text.new'), new_admin_user_path, class: 'mr-3 mt-1') if policy(User).create? %>
              <%= paginate @users %>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body p-0 table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><%= User.human_attribute_name(:nickname) %></th>
                  <th><%= User.human_attribute_name(:email) %></th>
                  <th><%= User.human_attribute_name(:birthday) %></th>
                  <th><%= User.human_attribute_name(:sex) %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><%= user.nickname %></td>
                    <td><%= user.email %></td>
                    <td><%= user.birthday %></td>
                    <td><%= user.sex_i18n %></td>
                    <td><%= link_to(t('text.show'), [:admin, user]) if policy(user).show? %></td>
                    <td><%= link_to(t('text.edit'), edit_admin_user_path(user)) if policy(user).update? %></td>
                    <td><%= link_to(t('text.destroy'), [:admin, user], method: :delete, data: { confirm: t('text.are_you_sure') }) if policy(user).destroy? %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /.card-body -->
          <div class="card-footer clearfix">
            <%= paginate @users %>
          </div>
        </div><!-- /.card -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
