<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">
          <%= t('text.show') %> <%= User.model_name.human %>
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= render 'shared/alert', alert: notice %>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <dl>
              <dt><%= User.human_attribute_name(:nickname) %></dt>
              <dd><%= @user.nickname %></dd>
            </dl>
            <dl>
              <dt><%= User.human_attribute_name(:email) %></dt>
              <dd><%= @user.email %></dd>
            </dl>
            <dl>
              <dt><%= User.human_attribute_name(:birthday) %></dt>
              <dd><%= @user.birthday %></dd>
            </dl>
            <dl>
              <dt><%= User.human_attribute_name(:sex) %></dt>
              <dd><%= @user.sex_i18n %></dd>
            </dl>
          </div>
          <div class="card-footer clearfix">
            <%= link_to(t('text.edit'), edit_admin_user_path(@user), class: 'card-link') if policy(@user).update? %>
            <%= link_to(t('text.back'), admin_users_path, class: 'card-link') if policy(User).index? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
