<% if alert.present? %>
<% category = local_assigns.has_key?(:category) ? category : :info %>
<div class="alert alert-<%= category %> alert-dismissible fade show">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= fa_icon category.to_sym == :danger ? :warning : 'info-circle' %> <%= alert %>
</div>
<% end %>
