<footer class="main-footer">
  <strong>Copyright &copy; 2018 supersale.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 0.0.1
  </div>
</footer>
