<% if errors.any? %>
<div class="alert alert-warning alert-dismissible fade show">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h4><%= fa_icon :warning %> <%= pluralize(errors.count, "error") %> occurred.</h4>
  <ul>
  <% errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>
