<% icon = local_assigns.has_key?(:icon) ? icon : 'circle-o' %>
<li class="nav-item">
  <%= link_to path, class: 'nav-link' do %>
    <%= fa_icon icon, class: 'nav-icon' %><p><%= name %></p>
  <% end %>
</li>
