<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <%= link_to admin_root_path, class: 'brand-link' do %>
    <span class="brand-text font-weight-light">Supersale</span>
  <% end %>

  <% if admin_signed_in? %>
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <%= image_tag(current_admin.avatar, class: 'img-circle elevation-2', alt: 'User Image') if current_admin.avatar.attached? %>
      </div>
      <div class="info">
        <%= link_to current_admin.email, edit_admin_registration_path, class: 'd-block' %>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <%= render 'shared/sidebar_menu', path: admin_root_path, name: 'Dashboard', icon: :dashboard %>
        <%= render 'shared/sidebar_menu', path: admin_products_path, name: Product.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_variations_path, name: Variation.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_orders_path, name: Order.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_users_path, name: User.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_informations_path, name: Information.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_rankings_path, name: Ranking.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_pages_path, name: Page.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_coordinates_path, name: Coordinate.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_contacts_path, name: Contact.model_name.human, icon: 'envelope-o' %>
        <%= render 'shared/sidebar_menu', path: admin_categories_path, name: Category.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_tags_path, name: Tag.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_colors_path, name: Color.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_sizes_path, name: Size.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_companies_path, name: Company.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_brands_path, name: Brand.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_staffs_path, name: Staff.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_stores_path, name: Store.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_store_blogs_path, name: StoreBlog.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_divisions_path, name: Division.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_positions_path, name: Position.model_name.human %>
        <%= render 'shared/sidebar_menu', path: admin_admins_path, name: Admin.model_name.human, icon: :user %>
        <li class="nav-item">
          <%= link_to destroy_admin_session_path, method: :delete, data: { confirm: t('text.are_you_sure') }, class: 'nav-link' do %>
            <%= fa_icon 'sign-out', class: 'nav-icon' %><p>Log out</p>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
  <% end # if admin_signed_in? %>
</aside>
